
<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Full name:</b>
  <%= @user.full_name %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>

<p>
  <b>User group:</b>
  <%= @user.user_group.name %>
</p>