<h4>Your Volunteer Profile:</h4>
<table>
  <tr>
    <td>About:</td>
    <td><%= @user.vol_profile.about %></td>
  </tr>
  <tr>
    <td>Details:</td>
    <td><%= @user.vol_profile.details %></td>
  </tr>
  <tr>
    <td>Skills:</td>
    <td><%= @user.vol_profile.skills %></td>
  </tr>
</table>
